{
  "bigip_example_com": {
    "listener_port": 9142,
    "remote_host": "10.0.0.1",
    "username": "metrics-user",
    "password": "secret"
  },
  "ltm_example_com": {
    "listener_port": 9143,
    "remote_host": "10.0.1.1",
    "username": "metrics-user",
    "password": "secret2"
  },
  "apm_example_com": {
    "listener_port": 9144,
    "remote_host": "10.0.2.1",
    "username": "metrics-user",
    "password": "secret3"
  }
}
